#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.logo {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: fadeIn 4s ease-in
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.logo-static {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.logo-static:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo-static.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navigation li {
  display: flex;
  align-items: center;
}

.navigation li a {
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 0; /* initially hidden */
}

.navigation li a:hover {
  background-color: #111;
}

.navigation li:nth-child(1) a { animation: fadeIn 2s forwards 4s ease-in; }
.navigation li:nth-child(2) a { animation: fadeIn 3s forwards 4s ease-in; }
.navigation li:nth-child(3) a { animation: fadeIn 4s forwards 4s ease-in; }

.navigation li:not(:last-child)::after {
  content: '';
  height: 30%;  /* adjust as needed */
  width: 2px;
  background-color: var(--secondary-color);  /* adjust color as needed */
  margin-left: 10px;  /* adjust as needed */
  margin-right: 10px;  /* adjust as needed */
  opacity: 0; /* initially hidden */
}

.navigation li:nth-child(1)::after { animation: fadeIn 2s forwards 4s ease-in; }
.navigation li:nth-child(2)::after { animation: fadeIn 3s forwards 5s ease-in; }
.navigation li:nth-child(3)::after { animation: fadeIn 4s forwards 6s ease-in; }

.navigation-static {
  list-style-type: none;
  margin: 0;
  padding: 1.5em;
  padding-left: 2.75em;  /* Adjust this value as needed */
  overflow: hidden;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 10em;
  left: 0;
}

.navigation-static li {
  display: block;
}

.navigation-static li a {
  display: block;
  color: var(--secondary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*.navigation-static li a:hover {*/
/*  background-color: #111;*/
/*}*/

.navigation-static li:not(:last-child)::after {
  content: '';
  width: 65%;
  height: 1px;
  background-color:  var(--primary-color);
  margin: 10px auto;
  display: block;
}

.active {
  transform: scale(1.5);
  /*text-shadow: 1px 1px 2px #646cffaa;*/
}



/*Mission boxes*/
.box {
  position: absolute;
  background: var(--accent-color);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in {
  opacity: 1;
}

#box-1 {
  width: 24vw;
  height: 17vh;
  top: 6vh;
  left: 20vw;
  background-color: var(--accent-color);
}

#box-2 {
  width: 40vw;
  height: 11vh;
  top: 12vh;
  left: 47vw;
  background-color: var(--secondary-color);
}

#box-3 {
  width: 23vw;
  height: 16vh;
  top: 37vh;
  left: 52vw;
  background-color: var(--light-color);
}

#box-4 {
  width: 40vw;
  height: 9vh;
  top: 26vh;
  left: 23vw;
  background-color: var(--primary-color);
}

#box-5 {
  width: 18vw;
  height: 17vh;
  top: 37vh;
  left: 30vw;
  background-color: var(--dark-color);
}


/* For screen sizes 700px and below */
@media (max-width: 700px) {
  #box-1 {
    width: 29vw;
    height: 46vh;
    top: 35vh;
    left: 67vw;
    background-color: var(--accent-color);
  }

  #box-2 {
    width: 50vw;
    height: 17vh;
    top: 77vh;
    left: 12vw;
    background-color: var(--secondary-color);
  }

  #box-3 {
    width: 40vw;
    height: 24vh;
    top: 48vh;
    left: 12vw;
    background-color: var(--light-color);
  }

  #box-4 {
    width: 50vw;
    height: 15vh;
    top: 19vh;
    left: 48vw;
    background-color: var(--primary-color);
  }

  #box-5 {
    width: 61vw;
    height: 4vh;
    top: 8vh;
    left: 34vw;
    background-color: var(--dark-color);
  }
}